.fr1{
  width:25%;
 
}

.custom-label {
  text-align: left;
  margin-bottom: 3px;
 
  padding: 5px;
  width: 250px;
   /* Align label text to the left */
}
.custom-label1 {
  
  margin-bottom: -35px;
  
  padding: 5px;
  width: 250px;
   /* Align label text to the left */
}
.custom-input {
  width: 250px;
  margin-top: -10px;
  padding: 5px;
  border: none;
  border-radius: 0px;
  background-color: #F8F8F8;
 /* Make the input box take 100% width */
}

.custom-submit {
  width: 100%;
  height: 0px;
  background: linear-gradient(to right, #FFBA00, #FF2542);
  color: white !important;
  margin-top: 25px; 
  text-align: center;
  padding: 0px 25px 0px 25px;
  border-radius: 25px;
  border: none;
  /* Add margin to the submit button */
}
.custom-submit button{
  width: 100px;
 
  height: 20px;
  color: #FFFFFF !important;
  border: none;
  border-radius: 25px;
  height:100%;
  font-size: 15px;
}

.custom-inputl{
  width: 200px;
  height: 20px;
  background-color: #F8F8F8;
  border-radius: none;
}

 

.ant-form{
 height: 800px;
  width: 700px;
  background: rgb(255, 114, 114);
  padding: 20px;

}
.headerpara{
  width: 100%;
 
  background: linear-gradient(to right, #FFBA00, #FF2542);
 line-height: 1;
 font-weight: 600;
 background-clip: text;
 color: transparent; 
 font-family: 'Montserrat';

}
.headerpara1{
  width: 100%;
 line-height: 1px;
  
  font-size: 15px;
  font-family: 'Montserrat';
}
.line{
  text-align: center;
  padding: 0px 35px 0px 0px;
}


@media screen and (max-width: 522px) {

  .custom-label{
      width:200px;
      height: 35px;
     
  }
  .custom-label1{
    margin-top: -30px;
    margin-bottom: -20px;
  }
  .custom-input{
    width: 200px;
    height: 20px;
    
  }
  .custom-inputl{
    width: 200px;
    height: 30px;
    margin-top: -10px;
    border: none;
  }
  .ant-form{
    width:250px;
    height: 380px;
    background: white;
    margin-top: -4px;
    line-height: 1px;
  }
  .headerpara{
    font-size: 31px;
    padding: 0px 0px -5px 0px;
  }
  .headerpara1{
    margin-top: -8px;
    font-size: 14px;
    line-height: 10px;
    
    
    
  }
  .custom-submit{
    
    color: #FFFFFF !important;
  }
  .custom-submit button{
    
   padding: 0px 0px 0px 0px;
   color: white !important;
   opacity: 1 !important;
  }
  
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .ant-form{
   /* display: none;*/
  }
}
@media screen and (min-width: 522px) and (max-width: 700px) {
  .ant-form{
   /* display: none;*/
  }
}