
 .header{
    width: 100%;
    height: 100px;
    z-index: 1000;
    position: fixed;
    display: flex;
    margin: 10px;
    @media screen and (min-width: 900px)  {
    width:100%;
    height: 80px;
    }
    

.headerBox1{
    width: 100%;
    height: 100px;
}
.headerBox1 img {
    padding: 30px 0px 0px 40px;
    @media screen and (max-width: 522px) {
        padding: 10px 0px 0px 5px;
    }
    @media screen and (min-width: 522px) and (max-width: 900px) { 
      padding: 10px 0px 0px 10px;
    }
}
.headerBox2{
    width: 100%;
    height: 80px;
    display: flex;
    gap:3px;
}
.Nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    
    padding: 10px 5px 0px 5px;
    gap: 15px;
    color: white;
    flex: 5;
    }
.headerBox3{
    width: 100%;
    height: 80px;
   
    flex: 1;
    padding: 35px 0px 0px 10px;
    }

    
      
.headerBox4{
    width: 100%;
    height: 80px;
   flex: 2;
   padding: 35px 34px 0px 0px;
  outline: #FFBA00;
  border: #FFBA00;
}
.headerBox4 button{
    width: 100%;
    background-image: linear-gradient(to right, #FFBA00 , #FF2542);
    color: white !important;
    padding: 0px 25px 0px 25px;
    border-radius: 25px;
    
}


.ant-tooltip-inner, 
.ant-tooltip-arrow-content {
  background-color: transparent !important; 
  
}

.ant-btn-circle {
  background-color: transparent !important; 
  color: aliceblue;
}
.label{
    float: right;
}
.simenu{
    width: 100%;
   padding: 16px 0px 0px 60px;
   font-size: 20px;
    color: white;
    @media screen and (min-width: 900){
    display: none;
    }
    @media screen and (max-width: 522px) {
        padding: 7px 0px 0px 250px;
    }
}

.drawer  {
    
    color: white;
    
}

@media screen and (max-width: 900px) {
    
    .headerBox2 {
       display: none;
    }
    
    .simenu{
        display: block;
    }

}}

 @media screen and (min-width: 900px) {
    .simenu{
     width: 100%;
     display: none;
     
    }
  }
  @media screen and (max-width: 522px) {
    .logo{
       width: 90%;
    }
    
  }
@media screen and (min-width: 522px) and (max-width: 899px) { 
   .logo{
    width: 50%;
   }
  }